.app__container{
  max-width: 1600px;
  height: 100vh;
  position: relative;
  margin: 0 auto;
}

main{
  position: absolute;
  top: 20%;
  z-index: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding-bottom: 40px;
  animation: appear 2s forwards;
}

.forms{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.list_transactions{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list_transactions > h2{
  font-size: var(--title-3);
  font-weight: 600;
  margin-left: 20px;
}

@media (min-width: 769px) {
  main{
    flex-direction: row;
    justify-content: center;
  }

  .forms{
    width: 40%;
  }

  .list_transactions{
    width: 50%;
  }

}

@keyframes appear {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}